/* #202328 */
/* #fcfcfc -- text*/
/* #b8b8b8 -- text 2 */
/* #1b1b1b -- content*/

:root
{
    --body-color: #202328;
    --text-color: #fcfcfc;
    --secondary-text-color: #b8b8b8;
    --content-color: #1b1b1b;
    --light: white;
}


@font-face {
    font-family: Emberly;
    src: url(../fonts/Emberly-ExtraBold.ttf);
}

@font-face {
    font-family: Emberly-Normal;
    src: url(../fonts/Emberly-Regular.ttf);
}
body {
    background-color: #202328;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

h1
{
    padding-left: .3em;
    font-family: 'Emberly';
    font-size: 10em;
    font-weight:900;
    margin: 0em;
    letter-spacing: .07em;
    color: #fcfcfc;
    grid-column: 1;
    opacity: 0;

}

.legacy {
    font-family: 'Emberly';
    font-size: 10em;
    font-weight:900;
    margin: 0em;
    color: #202328;
    -webkit-text-stroke: 2.5px lightskyblue;
   
}

p {
    margin-top: 0px;
    font-family: 'Emberly-Normal';
    letter-spacing: 1.5px;
    color: var(--secondary-text-color);
    font-size: 1.5em;
    
}

.curve{
    width: 100vw;
    margin: 0;
}

.arrow {
    margin: auto;
    margin-top: 100px;
    box-sizing: border-box;
    height: 3.5vw;
    width: 3.5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}
  
.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}

.randomizer {
    background-color: black;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
    height: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #00aeff, #a68eff);
    border-radius: 10px;
        -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}

section {
    width: 100%;
    padding: 0;
    background-color: black;
}

.test{
    background-color: black;
    
}

.github {
    font-size: 14px;
    transition: .5s;
    
}


.github:hover{
   font-size: 18px;
}


/* LOCOMOTIVE SCROLL!!!  */
html.has-scroll-smooth {
    overflow: hidden;
}
    
html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
  
.has-scroll-smooth body {
    overflow: hidden; 
}
  
.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; 
}
  
[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap; 
}
  
[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%; 
}
  
.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0; 
}
.c-scrollbar:hover {
      transform: scaleX(1.45); 
    }
.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
      opacity: 1; 
    }
[data-scroll-direction="horizontal"] .c-scrollbar {
      width: 100%;
      height: 10px;
      top: auto;
      bottom: 0;
      transform: scaleY(1); 
    }
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
        transform: scaleY(1.3); 
    }
  
.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab; }
.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; 
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb 
{
    right: auto;
    bottom: 0; 
}


.authors {
    padding-left: 2.2em;
    font-family: 'Emberly';
    font-family: 'Emberly-Normal';
    letter-spacing: 1.5px;
    color: var(--secondary-text-color);
    font-size: 1.5em;
}

#authors {
    opacity: 0;    
}


.container {
   
    margin: auto;
    width: 90%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.item {
    /*   background-color: rgb(163, 184, 169); */
    border-color: rgb(163, 184, 169);
    border-style: solid;
    border-radius: 10px;
    display: flex;
    transition: .2s;
    transition-timing-function: ease-in-out;


}

.item-name {
    font-size: 1.3em;
    margin-left: .5em;
    padding: 10px;
    transition: .2s;


}

.item-count {
    font-size: 1.3em;
    margin-top: 3em;
    margin-left: .5em;
    padding: 10px;
    position: absolute;
    transition: .2s;
    transition-delay: .2s;
}

.item:hover {
    background-color: rgb(91, 148, 186);
    border-radius: 50px;
}

.item:hover .item-name {
    opacity: 0;
    margin-left: 19px;
}

.item:hover .item-count {
    opacity: 0;
    margin-left: 19px;
}

.item:hover .item-ench {
    opacity: 1;
    margin-left: .8em;
    display: block;
}

.item:hover .item-dura {
    opacity: 1;
    display: block;
    margin-left: .8em;
}

.item-ench {
    font-size: 1.3em;

    margin-left: -.5em;
    padding: 10px;
    position: absolute;
    transition: .2s;
    transition-delay: .1s;
    opacity: 0;
}

.item-dura {
    font-size: 1.3em;
    margin-top: 2em;
    margin-left: -.5em;
    padding: 10px;
    position: absolute;
    transition: .2s;
    transition-delay: .2s;
    opacity: 0;
}

.button-gen {
    font-size: 1.1em;
    padding: 7px;
    border: none;
    background-color: rgb(92, 192, 255);
    transition: .2s;
    border-radius: 10px;
}

.button-gen:hover {
    font-size: 1.2em;
    background-color: rgb(0, 148, 153);
}

@media only screen and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}



.button-copy {
    font-size: 1.1em;
    height: 2.5em;
    width: 2.5em;
    padding: 1px;
    border: none;
    background-color: rgb(252, 244, 3);
    transition: .2s;
    border-radius: 10px;

}

.button-copy:hover {
    font-size: 1.2em;
    background-color: rgb(163, 158, 0);
}



.center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.text text {
    paint-order: stroke;
    stroke: var(--light);
    stroke-width: 0.15px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-size: 1rem;
    font-family: "Cabin Condensed", sans-serif;
}

p 
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-column: 1;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.apple{
    grid-column: 2;
    transform: rotate(-30deg);
    margin-left: 10px;
}

.diamond_sword {
    grid-column: 1;
    grid-row: 1;
    margin-top: .9em;
    transform: rotate(-15deg);
}

.golden_carrot{
    grid-column: 2;
    grid-row: 3;
    transform: rotate(70deg)
}

.chest_minecart {
    grid-column: 3;
    grid-row: 2;
    transform: rotate(10deg);
}

.trident {
    grid-row: 3;
    grid-column: 1;
    transform: rotate(90deg);
}

.hero-items {
    margin-top: 100px;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 2;
}

@media only screen and (max-width: 1400px) {
    .hero-items {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
    
}
  



@media only screen and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        height: 200vh;
    }

    .transition {
        display: none;
    }

    h1 {
        font-size: 7em;
    }

    .legacy {
        font-size: 7em;
    }
    
    .authors {
        font-size: 1em;
    }
    
    
}



@media only screen and (max-width: 500px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        height: 200vh;
    }

    .transition {
        display: none;
    }

    h1 {
        font-size: 4em;
        margin-left: -5%;
    }

    .legacy {
        font-size: 4em;
        -webkit-text-stroke: .5px lightskyblue;
        margin-left: -5%;
    }
    
    .authors {
        font-size: 1em;
        margin-left: -9%;
    }
    
    
}
